@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
* {
    font-family: 'Source Sans Pro', 'FontAwesome', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    border: none;
    font-size: inherit;
    -moz-appearance: textfield;

    &:focus {
        outline: none;
    }
}